<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
    <title>贺长沙家电网体验馆盛大开业</title>
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/swiper.min.js" ></script>
    <script type="text/javascript" src="js/swiper.animate1.0.2.min.js" ></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="js/wechatinformation.js" ></script>
</head>
<body>
<div class="wrap">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="page_01">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_01_04"><img src="images/1/img1_1.png" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"></div>
                    <div class="page_01_05"><img src="images/1/img1_2.png" class="ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s"></div>
                    <div class="page_01_06"><img src="images/1/img1_3.png" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.7s"></div>
                    <div class="page_01_08"><img src="images/1/time.png" class="ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s"></div>
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.4s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_02">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <img src="images/2/img2_1.png" class="page_02_01_1 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">
                    <img src="images/2/img2_2.png" class="page_02_01_2 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s">
                    <div class="page_02_01 ani">
                        <div class="summary ani">
                            <img src="images/2/img2_3.jpg" class="page_02_01_3 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s">
                            <img src="images/2/img2_4.jpg" class="page_02_01_4 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.7s">
                            <img src="images/2/img2_5.jpg" class="page_02_01_5 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.9s">
                        </div>
                        <div class="images ani">
                            <div class="page_02_01_6 scale"><img src="images/2/img2_6.jpg" class="ani" swiper-animate-effect="fadeInRightBig" swiper-animate-duration="0.3s" swiper-animate-delay="1.2s"></div>
                            <div class="page_02_01_7 scale"><img src="images/2/img2_7.jpg" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.4s"></div>
                            <div class="page_02_01_8 scale"><img src="images/2/img2_8.jpg" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s"></div>
                            <div class="page_02_01_9 scale"><img src="images/2/img2_9.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="1.8s"></div>
                            <div class="page_02_01_10 scale"><img src="images/2/img2_10.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="2s"></div>
                            <div class="page_02_01_11 scale"><img src="images/2/img2_11.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="2.2s"></div>
                            <div class="page_02_01_12 scale"><img src="images/2/img2_12.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="2.4s"></div>
                            <div class="page_02_01_13 scale"><img src="images/2/img2_13.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="2.6s"></div>
                            <div class="page_02_01_14 scale"><img src="images/2/img2_14.jpg" class="ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="2.8s"></div>
                        </div>
                    </div>

                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="3s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_03">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_03_01"><img src="images/3/img3_1.png" class="ani" swiper-animate-effect="tada" swiper-animate-duration="0.3s" swiper-animate-delay="0.4s"></div>
                    <div class="page_03_02"><img src="images/3/img3_2.png" class="ani" swiper-animate-effect="rotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s"></div>
                    <div class="page_03_03 ani"swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s">
                        <img src="images/3/img3_3.jpg" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s">
                    </div>
                    <img src="images/3/img3_14.png" class="lianjie_left left1 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.3s">
                    <img src="images/3/img3_15.png" class="lianjie_right right1 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.3s">

                    <div class="page_03_04 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
                        <img src="images/3/img3_4.jpg" class="ani page_03_04_1" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
                    </div>
                    <img src="images/3/img3_14.png" class="lianjie_left left2 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">
                    <img src="images/3/img3_15.png" class="lianjie_right right2 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.5s">

                    <div class="page_03_05 ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                        <img src="images/3/img3_5.jpg" class="ani page_03_05_1" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
                    </div>
                    <img src="images/3/img3_14.png" class="lianjie_left left3 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s">
                    <img src="images/3/img3_15.png" class="lianjie_right right3 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2.5s">

                    <div class="page_03_06 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                        <img src="images/3/img3_12.jpg" class="page_03_06_1 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                        <div class="page_03_06_2 product ani">
                            <div class="scale1"><img src="images/3/img3_6.jpg" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s"></div>
                        </div>
                        <div class="page_03_06_3 product ani"swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                            <div class="scale1"><img src="images/3/img3_7.jpg" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s"></div>
                        </div>
                        <div class="page_03_06_4 product ani">
                            <div class="scale1"><img src="images/3/img3_8.jpg" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s"></div>
                        </div>
                        <img src="images/3/img3_9.jpg" class="page_03_06_5 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                        <img src="images/3/img3_10.jpg" class="page_03_06_6 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                        <img src="images/3/img3_11.jpg" class="page_03_06_7 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2.8s">
                    </div>
                    <img src="images/3/img3_14.png" class="lianjie_left left4 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="3.3s">
                    <img src="images/3/img3_15.png" class="lianjie_right right4 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="3.3s">

                    <div class="page_03_07 ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="3.3s">
                        <img src="images/3/img3_13.jpg" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="3.3s">
                    </div>

                    <img src="images/2/img2_1.png" class="page_02_01_1 ani" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.3s" swiper-animate-delay="3.8s">
                    <img src="images/2/img2_2.png" class="page_02_01_2 ani" swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="3.8s">
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="4s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_04">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_04_01"><img src="images/4/img4_1.png" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s"></div>
                    <div class="page_04_02">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale1 ani page_04_02_3"><img src="images/4/img4_3.jpg" class="ani" swiper-animate-effect="rotateInUpRight" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"></div>
                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.8s">
                    </div>
                    <div class="page_04_03">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale1 ani page_04_02_3 "><img src="images/4/img4_4.jpg" class="ani" swiper-animate-effect="rotateInUpRight" swiper-animate-duration="0.5s" swiper-animate-delay="1s"></div>
                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.2s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.3s" swiper-animate-delay="1.4s">
                    </div>
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_04 page_05">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_04_01"><img src="images/4/img4_1.png" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s"></div>
                    <div class="page_04_02">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale1 ani page_04_02_3"><img src="images/5/img5_1.jpg" class="ani" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s"></div>
                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.8s">
                    </div>
                    <div class="page_04_03">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale1 ani page_04_02_3"><img src="images/5/img5_2.jpg" class="ani" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1s"></div>
                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.2s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.3s" swiper-animate-delay="1.4s">
                    </div>
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="2s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_04 page_06">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_04_01"><img src="images/4/img4_1.png" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s"></div>
                    <div class="page_04_02">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale page_06_01_1 ani"><img src="images/6/img6_2.jpg" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.4s"></div>
                        <img src="images/6/img6_8.png" class="ani page_06_01_5" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">

                        <img src="images/6/img6_3.jpg" class="ani page_06_01_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                        <img src="images/6/img6_1.png" class="ani page_06_01_3" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.8s">



                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.2s">
                    </div>
                    <div class="page_04_03">
                        <img src="images/4/img4_2.png" class="ani page_04_02_4">
                        <div class="scale1 page_06_01_1 ani"><img src="images/6/img6_5.jpg" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s"></div>
                        <img src="images/6/img6_6.png" class="ani page_06_01_5" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s">

                        <img src="images/6/img6_7.jpg" class="ani page_06_01_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s">
                        <img src="images/6/img6_4.png" class="ani page_06_01_3" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="1.8s">

                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="2s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.3s" swiper-animate-delay="2.2s">
                    </div>
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="3s"></div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="page_04 page_07">
                    <div class="page_01_01 logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_04_01"><img src="images/4/img4_1.png" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s"></div>
                    <div class="page_04_02">
                        <img src="images/7/img7_6.png" class="ani page_07_01_8">
                        <div class="scale1 page_07_01_1"><img src="images/7/img7_2.jpg" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.4s"></div>
                        <img src="images/7/img7_3.png" class="ani page_07_01_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                        <img src="images/7/img7_4.png" class="ani page_07_01_3" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                        <img src="images/7/img7_1.png" class="ani page_07_01_4" swiper-animate-effect="lightSpeedIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.8s">


                        <img src="images/4/img4_5.png" class="ani page_04_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1s">
                        <img src="images/4/img4_6.png" class="ani page_04_02_2" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.2s">
                    </div>
                    <img src="images/1/img1_2.png" class="ani page_07_02_1" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="2s">
                    <img src="images/1/img1_3.png" class="ani page_07_02_2" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.3s" swiper-animate-delay="2.2s">
                    <div class="page_07_01"><img src="images/7/img7_5.png" class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="1.6s"></div>
                    <div class="go"><img src="images/go.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="3s"></div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="page_08 page_08_1">
                    <div class="page_08_01"><img src="images/8/img8_1.jpg" class="ani" swiper-animate-effect="bounceIn" swiper-animate-duration="0.2s" swiper-animate-delay="0s"></div>
                    <div class="page_08_07"><img src="images/8/img8_2.jpg"></div>
                    <div class="logo"><img src="images/logo.png" class="ani" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0s"></div>
                    <div class="page_08_02 ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.3s" swiper-animate-delay="0.4s">
                        <div class="ani ewm" swiper-animate-effect="flipInX" swiper-animate-duration="0.3s" swiper-animate-delay="0.6s">
                            <div class="scale ewm"><img src="images/8/ewm.jpg" class="ani page_07_01_1" swiper-animate-effect="pulse" swiper-animate-duration="0.3s" swiper-animate-delay="0.8s"></div>
                        </div>
                    </div>
                    <div class="page_08_03"><img src="images/8/ima8_2.png" class="ani" swiper-animate-effect="pulse" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"></div>
                    <div class="page_08_04 scale"><img src="images/8/address.png" class="ani" swiper-animate-effect="pulse" swiper-animate-duration="0.5s" swiper-animate-delay="1.6s"></div>

                    <div class="page_01_05"><img src="images/1/img1_2.png" class="ani" swiper-animate-effect="bounceInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1s"></div>
                    <div class="page_01_06"><img src="images/1/img1_3.png" class="ani" swiper-animate-effect="bounceInRight" swiper-animate-duration="0.5s" swiper-animate-delay="1s"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    var mySwiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        onSlideChangeEnd: function(swiper) {
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        },
        onInit: function(swiper) { //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            setTimeout(function(){
                swiperAnimate(swiper); //初始化完成开始动画
            },100);
        }
    });


</script>
<!--<script type="text/javascript" src="js/share.js" ></script>-->

</html>
